@font-face {
  font-family: "police";
  src: url("../font/EnchantedLand.otf");
}
body{
  font-family: "police";
  src: url("../font/EnchantedLand.otf");
  font-size: 50px;
}
html{
  background-image:url("../image/fond.jpg");
  background-size: cover;
}
#table{
    height: 50%;
    width: 50%;
    border: 1px solid white;
    vertical-align: top;
    margin-left: 25%;
}
tr{
  font-size: 50px;
}
td{
    height: 100px;
    width: 100px;
    border: 1px solid grey;
    text-align: center;
    color: cyan;
}
#color{
    color: cyan;
    font-weight: bold;
}
button{
  margin-left: 47%;
}
input{
  margin-left: 40%;
}
label{
  margin-left: 45%;
}
